/* Main Menu */
.main-menu-screen {
    background: url("../images/theme-red.jpg") repeat center center; 
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 20px 20px #000000;
    z-index: 5;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#main-menu,
#settings-menu-container {
    width: 50vw;
    height: 50vh;
}

.logo,
.main-menu-logo {
    margin-top: 1.5vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    font-family: 'Goblin One', cursive;
    font-size: 5vw;
    color: black;
    text-shadow: 1px 1px 13px #ffe400, 1px 1px 13px #ffffff; 
}

.main-menu {
    background-color: black;
    flex-direction: column;
    display: grid;
    margin-top: 1vw;
    position: relative;
    border: 2px solid gray;
    border-radius: 4vw;
    box-shadow: 0px 0px 5vh 2vh black, inset 0px 0px 1vh 0.2vh #ffffff;
}

.main-menu-items-container {
    color: #ffe92d;
    text-align: center;
    display: inline;
    align-self: center;
}

.main-menu-item-settings {
    color: #ffe92d;
    text-align: center;
    padding-top: 1vw;
    display: inline;
}

/* Main Menu Button Container */
.button-container {
    width: 30vw;
    font-size: 3vh;
    justify-content: center;
}

.new-game-button,
.settings-button,
.instruction-button,
.go-back,
.restart-game {
    background-color: #580200;
    font-family: 'Goblin One', cursive;
    border-radius: 1vw;
    box-shadow: inset 0px 0px 20px 1px #000000;
    border: 2px solid gray;
    text-shadow: 0px 0px 20px #000000;
}

.new-game-button:hover,
.settings-button:hover,
.instruction-button:hover,
.go-back:hover,
.restart-game:hover  {
    color: black;
    text-shadow: 0px 0px 0px #000000;
    background-color: red;
    box-shadow: 0px 0px 9px 1px #ff0909, inset 0px 0px 6px 3px #000000;
}
/* /main menu button container */
/* /main menu */

.game-screen {
    height: 100vh;
    background: url("../images/theme-red.jpg") repeat center center;
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 20px 20px #000000;
    top: 0px;
    left: 0px; 
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 2s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}


/* Score-Match counters */
.match-indicator,
.score-counter {
    background-color: #000000;
    color: yellow;
    width: 15vw;
    border: #adadad solid 2px;
    border-radius: 5px;
    font-family: 'Goblin One', cursive;
    box-shadow: 1px 1px 20px 2px black;
    font-size: 1vw;
}

/* Cards grid position */
.grid {
   display: grid;
    height: 100%;
    width: 117vh;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

/* Cards style */
.cards {
    height: 10vw;
    width: 15vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: #191919 5px 5px 5px 0px;
}

/* If fliped cards match */
.match {
    box-shadow: none;
    visibility: hidden;
}

/* When player find all cards */
.end-screen-container {
    position: fixed;
    height: 100%;
    background-color: #000000e0;
    top: 0px;
}

.end-screen {
    margin-top: auto;
    position: fixed;
    top: 26%;
    left: 22%;
    height: 20vw;
    background-color: black;
    border: 2px solid gray;
    width: 64vw;
    border-radius: 10px;
    color: yellow;
    box-shadow: 1px 1px 20px 1px #ffca00;
}

.win-message {
    height: 3vw;
    font-family: 'Goblin One', cursive;
    margin: 2vw;
    font-size: 1.5vw;
    box-shadow: 0 0 6px 2px red;
    color: yellow;
    padding-top: 0.5vw;
    border-radius: 10px;
}
.end-game-buttons {
    position: absolute;
    top: 50%;
}
