/* Main Menu */

.menu-title,
.instruction-title,
.settings-title,
.lvl-title {
    font-size: 3vw;
    font-family: 'Goblin One', cursive;
    color: #bda70b;
}

.main-menu-buttons {
    border: 1px solid black;
    padding: 0.5vw;
    margin: 1vw;
}

.logo,
.main-menu-logo {
    margin-top: 1.5vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    font-family: 'Goblin One', cursive;
    font-size: 5vw;
    color: black;
    text-shadow: 1px 1px 13px #ffe400, 1px 1px 13px #ffffff; 
}


.main-menu,
.instruction,
.setings-menu,
.lvl-menu {
    background-color: black;
    flex-direction: column;
    display: grid;
    margin-top: 1vw;
    height: 45vh;
    width: 45vw;
    position: relative;
    border: 2px solid gray;
    border-radius: 4vw;
    box-shadow: 0px 0px 5vh 2vh black, inset 0px 0px 1vh 0.2vh #ffffff;
}

.theme-red {
    background: url("../images/themes/theme-red.jpg") repeat center center;
    box-shadow: inset 0px 0px 1vw 0.6vw #000000;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px; 
}

.theme-yellow {
    background: url("../images/themes/theme-yellow.jpg") repeat center center;
    box-shadow: inset 0px 0px 1vw 0.6vw #000000;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px; 
}

.theme-green {
    height: 100vh;
    background: url("../images/themes/theme-green.jpg") repeat center center;
    box-shadow: inset 0px 0px 1vw 0.6vw #000000;
    position: absolute;
    top: 0px;
    left: 0px; 
}


/* Game buttons */
.new-game-button,
.settings-button,
.instruction-button,
.instruction-back-button,
.main-menu-in-game,
.settings-back-button,
.game-screen-main-menu-button,
.restart-game {
    background-color: #580200;
    font-family: 'Goblin One', cursive;
    border-radius: 1vw;
    box-shadow: inset 0px 0px 20px 1px #000000;
    border: 2px solid gray;
    text-shadow: 0px 0px 20px #000000;
    color: yellow;
    cursor: pointer;
    font-size: 1vw;
}

.new-game-button:hover,
.settings-button:hover,
.instruction-button:hover,
.instruction-back-button:hover,
.main-menu-in-game:hover,
.settings-back-button:hover,
.game-screen-main-menu-button:hover,
.restart-game:hover,
.game-screen-buttons:hover  {
    color: black;
    text-shadow: 0px 0px 0px #000000;
    background-color: red;
    box-shadow: 0px 0px 9px 1px #ff0909, inset 0px 0px 6px 3px #000000;
}

.game-screen-buttons {
    font-size: 0.7vw;
    padding: 7px;
    background-color: #580200;
    font-family: 'Goblin One', cursive;
    border-radius: 1vw;
    box-shadow: inset 0px 0px 20px 1px #000000;
    border: 2px solid gray;
    text-shadow: 0px 0px 20px #000000;
    color: yellow;
    cursor: pointer;
}


/* /game-buttons */
/* /main menu button container */
/* /main menu */

/* Choose Difficulty */
.lvl-container {
    background-color: black;
    font-family: 'Goblin One', cursive;
    color: yellow;
    font-size: 3vw;
    margin: 0.5vw;
    height: 5vw;
    border: 2px solid grey;
    border-radius: 1vw;
    box-shadow: inset 0px 0px 20px 1px #000000;
    cursor: pointer;
}

#easy:hover {
    color: black;
    background-color:green;
    box-shadow: 0px 0px 20px 2px green;
}

#hard:hover {
    color: black;
    background-color: red;
    box-shadow: 0px 0px 20px 2px #ff0000;
}


/* Instruction Screen */
.instruction-container {
    height: 10vw;
    width: 30vw;
}

h3 {
    font-size: 1vw;
    font-family: 'Goblin One', cursive;
    color: red;
}

/* /instruction-screen */

/* Settings Screen */
.theme-container {
    background-color: blue;
    margin: 0.5vw;
    height: 5vw;
    border: 2px solid grey;
    border-radius: 1vw;
    box-shadow: inset 0px 0px 20px 1px #000000;
    cursor: pointer;
}

.theme-title {
    font-size: 1vw;
    font-family: 'Goblin One', cursive;
    color: #bda70b;
}

.setting-theme-red {
    background: url("../images/themes/theme-red.jpg") repeat center center;
    box-shadow: inset 0px 0px 3px 3px black;
}

.setting-theme-green {
    background: url("../images/themes/theme-green.jpg") repeat center center;
    box-shadow: inset 0px 0px 3px 3px black;
}

.setting-theme-yellow {
    background: url("../images/themes/theme-yellow.jpg") repeat center center;
    box-shadow: inset 0px 0px 3px 3px black;
}

.setting-theme-red:hover,
.setting-theme-yellow:hover,
.setting-theme-green:hover {
    box-shadow: 0px 0px 9px 4px yellow, inset 0px 0px 3px 3px black;;
} 
/* /settings screen */


/* Game Screen */
.game-screen {
    height: 100vh;
    box-shadow: 0px 0px 7px 5px black, inset 0px 0px 20px 20px #000000;
    top: 0px;
    left: 0px; 
}
/* /game Screen */

/* Screens Visability */
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 5s, opacity 2s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
/* /screens Visability */

/* Score-Match counters */
.match-indicator,
.score-counter {
    background-color: #000000;
    color: yellow;
    width: 15vw;
    border: #adadad solid 2px;
    border-radius: 5px;
    font-family: 'Goblin One', cursive;
    box-shadow: 1px 1px 20px 2px black;
    font-size: 1vw;
    padding: 11px;
}
/* /score-Match counters */

/* Cards grid position */
.grid {
    display: flex;
    height: 100%;
    width: 57vw;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-columns: auto auto auto auto;
    flex-wrap: wrap;
    text-align: -webkit-auto;
}

/* Cards style */
.cards {
    height: 10vw;
    width: 8vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: #191919 5px 5px 5px 0px;
    margin: 0.5vw;
}
/* /cards style */
/* /cards grid position */


/* If fliped cards match */
.match {
    box-shadow: none;
    visibility: hidden;
}

/* When player find all cards */
/* End Screen */
.end-screen-container {
    position: fixed;
    height: 100%;
    background-color: #000000e0;
    top: 0px;
}

.end-screen {
    margin-top: auto;
    position: fixed;
    top: 17vw;
    left: 19vw;
    height: 20vw;
    background-color: black;
    border: 2px solid gray;
    width: 64vw;
    border-radius: 10px;
    color: yellow;
    box-shadow: 1px 1px 20px 1px #ffca00;
}

.win-message {
    height: 3vw;
    font-family: 'Goblin One', cursive;
    margin: 2vw;
    font-size: 1.5vw;
    box-shadow: 0 0 6px 2px red;
    color: yellow;
    padding-top: 0.5vw;
    border-radius: 10px;
}

.end-game-buttons {
    top: 50%;
}
/* /end-screen */
/* /when player find all cards */

.soundOn {
    color: black;
    text-shadow: 0px 0px 0px #000000;
    background-color: red;
    box-shadow: 0px 0px 9px 1px #ff0909, inset 0px 0px 6px 3px #000000;
}
